
main p:first-of-type img {
  float: right;
  margin: 0 0 10px 10px;
}

h2#usage {
  clear: both;
}

#sample-01-wrap {
  margin: 10px 0;
  padding: 20px;
}

#sample-01-wrap input {
  width: 200px;
}

#sample-01-wrap textarea {
  width: 200px;
  height: 150px;
}

#sample-01-wrap input,
#sample-01-wrap select,
#sample-01-wrap textarea,
#sample-01-wrap button {
  margin: 10px;
  vertical-align: top;
}

.ui-tooltip.ui-widget {
  background-color: #c2deb8;
  background-image: none;
}

