
.sample-view {
  margin: 5px 0 100px;
  padding: 20px;
  background-color: #ccc;
}

.sample-view input {
  width: 200px;
}
.sample-view textarea {
  width: 200px;
  height: 150px;
}
.sample-view input,select,textarea,button {
  margin: 10px;
  vertical-align: top;
}
.ui-tooltip.ui-widget {
  background-color: #c2deb8;
  background-image: none;
}

